$yellow: #fcb64e;
$lightGreen: #00a79d;
$darkGreen: #00765a;
$offWhite: #eeeee6;

.container {
  position: relative;
  height: 200px;
  z-index: 1000;
  background-color: $offWhite;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  .bar {
    height: 30px;
    background-color: $lightGreen;
  }
  .background {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 512px;
    background-image: url('../../assets/footer_background.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .leftContainer {
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    .copyRight {
      font-size: 15px;
      line-height: 36px;
      margin-left: 30px;
      font-family: Raleway;
      color: $lightGreen;
    }
    .socialContainer {
      display: flex;
      flex-direction:row;
      .iconContainer {
        margin-left: 10px;
      }

      span {
        font-size: 18px;
      }
      .fa-twitter span{
        color: $lightGreen;
      }
      .fa-facebook span{
        color: $lightGreen;
      }
      .fa-github span{
        color: $lightGreen;
      }
      .fa-linkedin span {
        color: $lightGreen;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .background {
    display: none;
  }
}