$yellow: #fcb64e;
$lightGreen: #00a79d;
$darkGreen: #00765a;

.menuBorder {
  right: 100px;
  width: 700px;
  border-top: 50px solid rgba(238,238,230, 0.95);
  border-left: 40px solid transparent;
  position: fixed;
  z-index: 10000;
  transition: all .5s ease;
}

@media screen and (max-width: 630px) {
  .menuBorder {
    border-top: 50px solid rgba(238,238,230, 0.95);
    border-left: 0px solid transparent;
  }
}
.contactBorder {
  right: 0px;
  width: 100px;
  border-top: 50px solid $yellow;
  border-left: 40px solid transparent;
  position: fixed;
  z-index: 10000;
  transition: all .5s ease;
}
.contactLabel {
  right: 0px;
  padding-left: 40px;
  text-align: center;
  color: WHITE;
  font-size: 12px;
  width: 100px;
  position: fixed;
  z-index: 10000;
  line-height: 50px;
  transition: all .5s ease;
}
.nav_pinch {
  height: 50px;
  line-height: 50px;
  opacity: .65;
  background-color: #1b1c27;
}
.imgLogo {
  width: 40px;
}
.navigationBar {
  right: 100px;
  width: 700px;
  position: fixed;
  z-index: 10000;
  line-height: 50px;
  font-family: Work Sans,Open Sans,sans-serif;
  transition: all .5s ease;
}
.navMenu {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: inherit;
    line-height:inherit;
  }

  li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    a {
      display: block;
      color: $lightGreen;
      text-align: center;
      padding: 0 7.5px;
      font-family: "Raleway-Medium";
      text-decoration: none;
      transition: all .5s ease
    }
    a:hover {
      color: $darkGreen;
    }
  }
}

.mobileNav {
  z-index: 1000;
  ul {
    background: #fff;
    box-shadow: 0 10px 10px 1px #3b3b3b;
    float: right;
    width: 50%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  li {
    border-bottom: 1px solid #b0bec5;
    line-height: 75px;
    a {
      display: block;
      color: #3b3b3b;
      text-align: right;
      text-decoration: none
    }
  }
  a:hover {
    color: #f44336
  }
  p {
    font-size: 1.75em;
    color: #3b3b3b;
    cursor: pointer;
    text-align: right;
    line-height:inherit;
    margin: 0;
  }
  p:hover {
    color: #f44336
  }
}

.navigationLogo {
  margin-left: 30px;
  font-size: 30px;
  float: left;
  .logoName {
    float: right;
    margin-top: 5px;
  }
}
