$yellow: #fcb64e;
$lightGreen: #00a79d;
$darkGreen: #00765a;
$offWhite: #eeeee6;
$darkGray: #353534;

$contactWidth: 110px;
.navigationLogo {
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
  .imgLogo {
    width: 40px;
  }
}
.navigationBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0px;
  right: 0;
  z-index: 10000;
  line-height: 65px;
  background-color: $darkGray;
  border-bottom: 1px solid $lightGreen;
  transition: all .5s ease;
}
.nav_pinch {
  height: 50px;
  line-height: 50px;
  opacity: .65;
}
.navMenu {
  flex: 1;
  margin-right: 40px;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: inherit;
    line-height:inherit;
  }

  li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    a {
      display: block;
      color: $lightGreen;
      text-align: center;
      padding: 0 7.5px;
      font-family: "Raleway";
      letter-spacing: 1.5px;
      text-decoration: none;
      transition: all .5s ease
    }
    a:hover {
      color: $offWhite;
    }
  }
}

.gotoGit {
  flex: 1;
  color: $yellow !important;
  font-size: 18px;
  i {
    color: $yellow;
    font-size: 28px;
  }
}
.mobileNav {
  z-index: 1000;
  ul {
    background: #fff;
    box-shadow: 0 10px 10px 1px #3b3b3b;
    float: right;
    width: 50%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  li {
    border-bottom: 1px solid #b0bec5;
    line-height: 75px;
    a {
      display: block;
      color: #3b3b3b;
      text-align: right;
      text-decoration: none
    }
  }
  a:hover {
    color: #f44336
  }
  p {
    font-size: 1.75em;
    color: #3b3b3b;
    cursor: pointer;
    text-align: right;
    line-height:inherit;
    margin: 0;
  }
  p:hover {
    color: #f44336
  }
}



@media screen and (max-width: 950px) {
  .menuBorder {
    left: 0;
    width: inherit;
    border-top: 50px solid rgba(238,238,230, 0.95);
    border-left: 0px solid transparent;
  }
  .navigationBar {
    left: 0;
    width: inherit;
  }
}