$yellow: #fcb64e;
$lightGreen: #00a79d;
$darkGreen: #00765a;

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 300px;
  min-width: 630px;
  bottom: 250px;
  :global {
    .image-gallery {
      height: 100%;
      * {
        height: 100%;
      }
      button {
        z-index: 10000;
      }
      .galleryImage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 50%;
      }
    }
  }
  .descriptionContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70px;
    right: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
    .header1 {
      color: $lightGreen;
      font-size: 60px;
      letter-spacing: 2px;
      line-height: 90px;
      font-family: Raleway-Medium;
    }
    .header2 {
      color: #FFF;
      font-size: 22px;
      text-align: center;
      line-height: 40px;
      color: $lightGreen;
      letter-spacing: 2.5px;
      font-family: Raleway-Light;
      .label {
        font-size: 35px;
        color: $yellow;
      }
    }
    .btnGettingStarted {
      margin-top: 80px;
      cursor: pointer;
      padding: 10px;
      font-size: 15px;
      font-family: Raleway;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 20px;
      background-color: $yellow;
      letter-spacing: 2px;
      color: #f1f1f2;
      transition: all .5s ease;
    }
    .btnGettingStarted:hover {
      opacity: 0.8;
    }
    .btnGettingStarted:active {
      opacity: 0.4;
    }
  }
}

body {
  cursor: pointer;
  * {
    font-family: Raleway;
  }
}

@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: Raleway-Light;
  src: url('../assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: Raleway-Medium;
  src: url('../assets/fonts/Raleway-Medium.ttf');
}